<h1 id="what">What is in this data story and Why?</h1>
<div class="report-chapter">
    <p class="report-paragraph">
        The flourishing film industry in 2019 achieved the global box office worth of around $42.2 billion. One year earlier, in 2018, 
        when including home entartainment, this market segment was priced at $136 billion. For comparison, in 2018 Switzerland GDP was
        $735.5 billion. The most popular titles (such as Top Gun: Maveric) can bring box office revenue of $1.486 billion worldwide. 
        This shows how big of a deal it is to draw up a good recipe for an entertaining and gripping movie!
    </p>

    <div class="row justify-content-between">
        <div class="column col-sm-3 img-card">
            <img src="{{site.baseurl}}/assets/images/Dollar.svg" alt="Size of the industry">
            <p >$1.5b box office revenue of Top Gun:Maverick</p>
        </div>
        <div class="column col-sm-3 img-card">
            <img src="{{site.baseurl}}/assets/images/Dollar.svg" alt="Size of the datasets">
            <p>$42.2b 2019 box office worth</p>
        </div>
        <div class="column col-sm-3 img-card">
            <img src="{{site.baseurl}}/assets/images/Dollar.svg" alt="Size of the datasets">
            <p>$136b film industry 2018 worth</p>
        </div>
        <div class="column col-sm-3 img-card">
            <img src="{{site.baseurl}}/assets/images/Dollar.svg" alt="Size of the datasets">
            <p>$735.5b 2018 Swiss GDP</p>
        </div>
    </div>  
    <p class="report-paragraph">
    Basing our analysis on CMU Movie Summary Corpus extended by additional movie data from IMDB, TMDB we will analyze the popular movies' 
    plots and extract their sentiment ingredients. As humans are emotional beings and let's be honest, watch only the movies which is 
    close to their hearts, besides assessing general sentiment, we will dive deeper and focus on, closest to the human soul, emotions. 
    Moreover, we will try to answer how and which manifestations of violence influence movie popularity. All of these movie aspect will 
    result into ultimate cookbook for any aspiring movie creator containing the right emotion-related ingredients for a successful movie.
    </p>
</div>

