<h1 id="what">What is in this data story and Why?</h1>
<div class="report-chapter">
    <p class="report-paragraph">
        The flourishing film industry in 2019 achieved the global box office worth of around $42.2 billion. One year earlier, in 2018, 
        when including home entartainment, this market segment was priced at $136 billion. For comparison, in 2018 Switzerland GDP was
        $735.5 billion. The most popular titles (such as Top Gun: Maveric) can bring box office revenue of $1.486 billion worldwide. 
        This shows how big of a deal it is to draw up a good recipe for an entertaining and gripping movie. With the use of CMU Movie Summary 
        Corpus, additional datasets (IMDB, TMDB) we will analyze the most popular movies' plots and extract their sentiment ingredients. Besides 
        assessing general sentiment, we will dive deeper and focus on, closest to the human soul, emotions. Moreover, we will try to answer how
        and which manifestations of violence influence movie popularity.
    </p>

    <!-- separate circles visualizing how the field is becoming bigger -->

    <div class="row justify-content-around">
        <div class="column col-sm-3">
            <img class="img-card" src="{{site.baseurl}}/assets/images/flap.svg" alt="Size of the datasets">
            <p>This much money was in movie industry</p>
        </div>
        <div class="column col-sm-3">
            <img class="img-card" src="{{site.baseurl}}/assets/images/flap.svg" alt="Size of the datasets">
            <p>And this much is there now!</p>
        </div>
    </div>  
</div>

