<h1 id="what">What is in this data story and Why?</h1>
<div class="report-chapter">
    <p class="report-paragraph">
        Why should we analyze movie industry? There is money. A lot of money. 
        The flourishing film industry in 2019 achieved the global box office worth of around $42.2 billion. One year earlier, in 2018, 
        when including home entartainment, this market segment was priced at $136 billion. For comparison, in 2018 Denmark GDP was $556.8 billion and Switzerland GDP was
        $735.5 billion. And single most popular titles such as Top Gun: Maverick or Avatar, brough box office revenues of respectively $1.49 billion or $2.92 billion worldwide. 
        This shows how big of a deal for the filmmakers it is to draw up a good recipe for an entertaining and gripping movie!
    </p>

    <div class="comparison-img row justify-content-around">
        <img src="{{site.baseurl}}/assets/images/Comparison.svg" alt="Size of the industry">
        <p >Comparison of Top Gun and Avatar revenues with 2019 global box office and 2018 global movie industry worths, and with 2018 Denmark GDP.</p>
    </div>  


    <p class="report-paragraph">
        Throughout this datastory we will analyze the popular movies' 
        plots and extract their sentiment ingredients. Humans are emotional beings and let's be honest, watch only the movies which are 
        close to their hearts. Therefore, besides assessing general sentiment, we will dive deeper and focus on, closest to the human soul, emotions. 
        This connection to emotion in the movies was actually also somehow contained in the famous quote by movie director Rich Moore.
        Moreover, we will try to answer how and which manifestations of violence influence movie popularity. All of these movie aspect will 
        result into ultimate cookbook for any aspiring movie creator containing the right emotion-related ingredients for a successful movie.
    </p>

    <div class="quote"><h3>"A good movie makes the audience feel like they've journeyed with the characters." </h3>
        <div class="row justify-content-end"><p class="ml-4">~Rich Moore</p></div>
    </div>



</div>

