
<h1 id="evolution">Movie nature evolution over the years!</h1>
<div class="report-chapter">
    <p class="report-paragraph">
        One of the most crucial determinants, that makes movies enngaging, are emotions. They keep our attention by making the content more relevant and appealing. In our opinion it is the factor, that can influence the success of the movie. In the undermentioned sections we will try to answer to the questions: How prevalent in popular movies are emotions (anger, disgust, fear, joy, sadness, surprise, love, neutral), general sentiment (positivity, negativity), violence dose (custom measurement), violence manifestation (most frequent words)?
    </p>
    <p class="report-paragraph">
        In order to make results more objective, we will assume the following: the term popular movies means the ones which got the highest box revenues or are highest rated in user rankings. We are using these movies, beause it is infeasible to use all the films which were ever made.
    </p>
    <h2 id="general_sentiment">General sentiment</h2>
    <p class="report-paragraph">
        We will kick off our investigation with determining the general tone of the movie. Therefore we've used python TextBlob library. It's sentiment analyzer is based on predefined dictionary containing most significant words in the context of overall atmosphere. This utility gives us informations such as: polarity (ranging from -1.0 to 1.0, where 1 indicates highest positivity), subjectivity (ranging from 0.0 to 1.0, where 0 means maximal objectivity). Let's take a look at those indicators and try to predict the future trend!
    </p>
    <div class="row justify-content-around">
        {% include plots/general_sentiment_polarity_in_years.html %}
    </div>
    <!-- 
        print(reg.coef_)
        print(reg.intercept_)
        [[-0.00027264]] -> 2.72e-4
        [0.59579119] -> 0.595
     -->
    <p class="report-paragraph">
        There are several things to notice! First of all we see the positive general sentiment over all the years. By the regression line model's characteristics, we see the decreasing tendency. It's <b>slope coefficient is -2.72e-4 and interception 0.595</b>. When we take into consideration the maximal and minimal possible polarity, we can conclude that this tendency is fractional, but still occurs. Complete neutrality could be achieved around 2200 year.
    </p>
    <p class="report-paragraph">
        Secondly, we see that there is bigger variance in sentiment values between 1920 and 1960, than for the data after 1960. It is probably due to the smaller amount of data from early years. Fewer samples usually leads to the higher deviation. We can spot one outlier for 1913. In that year there was data about only one movie.
    </p>
    <p class="report-paragraph">
        Lastly we can spot slight sinusoidal motion of the data. There are two peaks around 1930 and 2000. The through occured around 1965.
    </p>
    <p class="report-paragraph">

    </p>

    <div class="row justify-content-around">
        {% include plots/general_sentiment_subjectivity_in_years.html %}
    </div>
    <!-- 
        print(reg.coef_)
        print(reg.intercept_)
        [[-0.00012701]] -> 1.27e-4
        [0.69660253] -> 0.696
     -->
    <p class="report-paragraph">

    </p> 

    <p class="report-paragraph">
        Summary
    </p>

    <h2 id="emotions">Emotions</h2>  
    <p class="report-paragraph">
        <!--  -->
        
    </p>
    <p class="report-paragraph">
        With the aim of gaining a deeper understanding of hidden trends, we are using a movie plot emotion analysis technique. 
        This involves identifying and extracting the emotions or feelings expressed in movie summaries.
        There are many potential benefits to this approach, including the ability to understand public opinion and get a sense of how people feel about a particular movie or movie franchise. This information can be useful for studios, producers, and marketers who are trying to gauge the potential success of a film.
        Additionally, this technique allows researchers and analysts to identify and highlight recurring themes or motifs that appear in the movie and are portrayed in popular media. This can provide valuable insights and help to better understand the film's narrative and its representation of certain themes.
    </p>
    <p class="report-paragraph">
        To conduct our movie plot emotion analysis, we have implemented three versions of DistilBERT, a transformer-based machine learning model developed by Hugging Face that is well-suited for natural language processing tasks.
        In order to determine which classifier is most effective for our analysis, we have tested three different models for emotion classification on a subset of 50 movies from our initial dataset. By comparing the prevalence of different emotions identified by each model, we aim to select the classifier that is most suitable for our analysis and provides valuable insights into the film's narrative and representation of certain themes.
    </p>
    <div class="row justify-content-around">
        {% include plots/classifier_emotions.html %}
    </div>
    <p class="report-paragraph">
        After analyzing the plots, we determined that the results from Classifier 1 (distilbert-base-uncased-emotion) provide the most insight into emotions. In comparison, Classifier 2 includes a "neutral" emotion that is not relevant to our analysis, while Classifier 3 offers a very detailed analysis that is not necessary for our purposes. Therefore, we concluded that Classifier 1 is the best choice for our movie plot emotion analysis.
    </p>
    <div class="row justify-content-around">
        {% include plots/plot_emotions.html %}
    </div>
    <p class="report-paragraph">
        After extracting the emotions from the movie plots, we plotted the data on a graph to visualize the evolution of the emotions over time. The x-axis of the graph represents the time period, starting from 1913 and ending in 2022, and the y-axis represents the frequency of each emotion in the movie plots. We used different colors to distinguish the different emotions on the graph.
        As we examined the graph, we discovered several interesting trends in the frequency of different emotions in movie plots over the past century. The frequency of anger appeared to fluctuate over time, remaining the highest, but with a predicted decrease in the future. On the other hand, the frequencies of surprise and love remained relatively constant and low. Additionally, we found that the trends of sadness and fear were similar until the 1920s, after which fear became more dominant. The frequency of joy seemed to be more independent of the other emotions, remaining in the middle with a predicted increase in the coming years.
    </p>
    <p class="report-paragraph">
        Our analysis of classifier 1 provided valuable insights into the evolution of emotions in movie plots over the past century. We now hope to utilize this information to answer the question of how emotions contribute to the success of a movie, as we continue to develop our cookbook.
    </p>

    <h2 id="violence">Violence</h2>  
    <p class="report-paragraph">
        <!--  -->
    </p>
    <div class="row justify-content-around">
        {% include plots/violence_score_in_years_reg_norm.html %}
    </div>
    <!-- 
        print(reg.coef_)
        print(reg.intercept_)
        [[1.54701958e-05]]
        [-0.0242303]
    -->
    <p class="report-paragraph">
        The regression plot above shows us truly fascinating data – the violence score has increased in movies! Especially after 2000, the movies have become more and more violent. One interesting observation is that before 1980, the violence values were more scattered while after 1980, the values followed a more narrow path. This narrow path is emphasized after the year 2000, where the real data makes a really clear rising line. 

The rising amount of violence violence after 2000 may be explainable by the fact that violence has become more accepted – for example the more funny part of comedies. Many of us have seen those funny movies where the whole movie is mainly based on stupid and surreal violence. Also, in the 20th century the whole world was at war, so the violence in the movies made in the 20th century could be more sensitive and even hurtful. Imagine watching a war movie of Normandy landings 30 years after your family member has died in the real situation? Almost the whole world has lived in peace for many decades, so the violence is more distant for people which is why it can be also more acceptable.
    </p>
    <div class="row justify-content-around">
        {% include tables/top_manifests_in_years.html %}
    </div>

    <div class="row justify-content-around">
        {% include tables/top_5_manifests_over_years.html %}
    </div>

</div>
