<h1 id="genres">How is it in genres?!</h1> 
<div class="report-chapter">
    <p class="">
        From the 20 plots above, we can see how the sentiments have changed for different genres over the years. 
        We get naturally the best results from the genres, from where we have enough data (for example crime, drama and comedy). 
        For most of the genres, we have really high peaks for the movies before 1960 which means that there are just not enough movies with revenue data.

        However, from the reasonable plots, we can examine some interesting results. The most eye-catching observation is that anger is the dominating 
        sentiment in most of the plots. Can we then make a conclusion that movies with a lot of sentiments of anger are successful? We will examine that question 
        in the next part below. After anger, fear and joy are the next biggest ones while love, sadness and surprise are the lowest sentiment values in every plot.
         One interesting observation is that joy has increased over the recent years in many genres, for instance in adventure, action, romance, war, comedy, 
         animation. The best conclusion for that could be that people want more movies, which are easy and fun to watch – movies that leave a good feeling 
         after watching. For example, we can notice that from the romance genre, where joy has increased a lot and catched up with anger. In fantasy movies, 
         there is not as clear a difference of the sentiments than in some other genres when anger, fear and joy are mixed together. However, this is very 
         typical for fantasy movies, where the topic areas can vary a lot and from the same genre one can find totally different movies. All in all, the 
         overall trend that can be seen from the plots is that in many cases, anger is decreasing and joy is increasing. Potentially, people have started 
         to be bored of the continuous violence and anger of the movies from the 1980s?
    </p>
</div>
