<h1 id="cookbook"> Conclusion a.k.a cookbok</h1> 
<div class="report-chapter" >
    <div class="row justify-content-between">
    <div class="col-md-3 img-book">
        <img src="{{site.baseurl}}/assets/images/Book.svg" width="200px" alt="Cookbook">
    </div>
    <p class="report-paragraph col-md-9">
        In this last part, we will elaborate on everything we have walked our dear through so far and try to deliver the ultimate advice! Now, every cookbook should start by outlining <b>actual trends</b>  - no movie cook would want to be outdated, of course! So, trends observed in the movie industry are all summarized below, and each of them is also complemented by relation to the popularity or (inclusive or) ratings!
    </p>

    </div>
    <p class="report-paragraph">
        <b>1. The general sentiment </b>of the movies over the years is nowadays slightly positive. Still, in general, slightly decreasing - in order to stay on the waves of upcoming trends, it is advisable to keep the atmosphere of your movies neutral or even somewhat negative if you are looking more into the future! Moreover, besides keeping up with trends, in the last chapter, we have also seen some correlation between higher negativity with higher revenues! Opting for negativity should be the number one ingredient for the future filmmaker.
    </p><p class="report-paragraph">
        <b>2. Violence</b> frequency is rising and, according to our regression analysis, will also rise in the future. However, be aware! It may very negatively impact your movie's revenues. Therefore, take our most frequent violent manifestations more of like warning, which words and expressions not to use if you want to make a popular movie.
    </p><p class="report-paragraph">
        <b>3. Emotions </b>trends generally say that choosing anger as the main emotion is still the most prevalent option. Even though the trend is going down, we reckon it is better to go against the trends and cook a movie containing some good anger in order to increase your chances for significant revenue. The same against-the-trends approach is advisable to be applied in case of joy - trends of joy frequency are going up, but income is more of a negative correlation, so beware! Now we have contradictory specialties: fear is an excellent option if you want to go with higher revenues, but sadness turns your fans exactly the other way around.
    </p><p class="report-paragraph">
        <b>4. Genres </b>, genres, genres! If you want to do elaborate alchemy to make your movie follow the latest genre-emotion compositions, refer to the chapter Genres.
    </p><p class="report-paragraph">
        <i> And we wish all of the future filmmakers the best of luck on their journey!</i>
        </p>
</div>

<style>
    .img-book {
        width: 200px
    }
</style>