<footer class="footer container column align-items-center">    
    <h3 class="text-center mb-3">Who and Why?</h3>
    <p class="text-center">This project was created by the team LEGO as a part of the EPFL course Applied Data
      Analysis. <br> Repository with the full analysis corresponding to this project is on <a target="_blank" href="https://github.com/epfl-ada/ada-2021-project-muesli"> GitHub</a>!</p>
    <h4 class="text-center mb-3">LEGO team</h4>
    <div class="row" >

    <div class="col-md-2 text-center"></div>
    <div class="col-md-2 text-center">
      <!-- <img class="rounded-img" src="{{ site.baseurl }}/images/ondrej.png"> -->
      <h5 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
        Ondrej Kafka
      </h5>
      <div class="uk-text-meta">👨‍💻 Computer science</div>
    </div>
    <div class="col-md-2 text-center">
      <!-- <img class="rounded-img" src="{{ site.baseurl }}/images/wojciech.png"> -->
      <h5 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
        Wojciech Pawel
      </h5>
      <div class="uk-text-meta ">👨‍💻 Computer science</div>
    </div>
    <div class="col-md-2 text-center">
      <!-- <img class="uk-border-rounded" src="{{ site.baseurl }}/images/lauri.png"> -->
      <h5 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
        Lauri Heroja
      </h5>
      <div class="uk-text-meta ">👨‍💻 Computer science</div>
    </div>
    <div class="col-md-2 text-center">
      <!-- <img class="uk-border-rounded" src="{{ site.baseurl }}/images/emna.png"> -->
      <h5 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
        Emna Maghrebi
      </h3>
      <div class="uk-text-meta ">👨‍💻 Computer science</div>
    </div>


</div>

</footer>