<div class="full-height">
  <div class="rounded hero">
    <img class="camera-img" src="{{site.baseurl}}/assets/images/Img.svg">
    <div class="row align-items-center justify-content-between header-text">
      <div class="col-md-5"> 
      </div>
      <div class="col-md-7 ">
        <h1 class="mb-4 text-center">How on-screen emotions <br> make money?</h1>
        <p class="mb-4 text-center">Analysis of movie sentiment impact on ratings and revenue in years.</p>
        <div class="row justify-content-center"><a href="#what" class="btn btn-dark text-white px-5 btn-lg">Let's start!</a></div>
      </div>
    </div>
  </div>
</div>

<style>

</style>

