<div class="rounded mb-5 hero">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6 text-right pl-0 pl-lg-4">
        <img class="intro" height="500" src="{{site.baseurl}}/assets/images/camera.gif">      
      </div>
      <div class="col-md-6">
        <h1 class="font-weight-bold mb-4 serif-font">How on-screen emotions make money?</h1>
        <p class="lead mb-4">Analysis of movie sentiment impact on ratings and revenue in years.</p>
        <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">Let's start!</a>
      </div>
    </div>
  </div>