<div class="rounded mb-5 hero">

    <img class="camera" src="{{site.baseurl}}/assets/images/Img.svg">
    <div class="row align-items-center justify-content-between txt">
      <div class="col-md-5"> 
      </div>
      <div class="col-md-7">
        <h1 class="font-weight-bold mb-4 serif-font">How on-screen emotions make money?</h1>
        <p class="lead mb-4">Analysis of movie sentiment impact on ratings and revenue in years.</p>
        <a href="#what" class="btn btn-dark text-white px-5 btn-lg">Let's start!</a>
      </div>
    </div>
  </div>

<style>


.camera {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.txt {
  height: 707px;
  position: relative;
  z-index: 2;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

</style>

