<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.baseurl }}/{{site.favicon}}">

<title>{{ page.title }} | {{site.title}}</title>
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
</head>   
    
<body class="layout-default">
       
<main class="container">
    {{ content }}  
</main>

{% include footer.html %}

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>   
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>   
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>    
    
</body>
    
</html>